<section class="mt-6">
  <div class="flex items-start gap-x-24">
  <div class="w-5/8">
    <div class="font-extrabold flex items-end gap-x-2 pb-12">
      <h1 class="text-3xl flex items-center gap-x-2">
        <span class="block"><%= @trip.route.from_place.name %> </span>
        <%= inline_svg_tag "long_arrow.svg", class: "w-6 h-8 stroke-3 stroke-black-200" %>
        <span class="block"><%= @trip.route.to_place.name %></span>
      </h1>
    </div>


<div class="<%= @trip.theme[:bg_color_class] %> <%= @trip.theme[:border_color_class] %> py-3 border rounded-2xl cursor-pointer">
  <div class="flex items-start justify-between border-b <%= @trip.theme[:divider_class] %> pt-1 pb-4 px-6">
    <div class="flex items-center gap-x-2 w-1/3">
      <div class="h-11.5 w-11.5 border-[1.5px] <%= @trip.theme[:image_ring_color_class] %> rounded-full flex items-center justify-center">
        <%= image_tag @trip.driver.avatar, class: "mx-auto block object-cover h-10 w-10 rounded-full bg-gray-300 opacity-90" %>
      </div>
      <div class="">
        <div class="flex items-center gap-x-1">
          <span class="block mt-1 font-bold text-[20px] <%= @trip.theme[:heading_color_class] %>"><%= @trip.driver.fullname %></span>
          <% if @trip.driver.verified? %>
            <%= inline_svg_tag "verified.svg", class: "h-5 w-5 fill-blue stroke-white stroke-1.5 mt-1"%>
          <% end %>  
        </div>
        
        
        
        <span class="block -mt-1 text-[13px] <%= @trip.theme[:text_color ]%>"><%= rand(2..9) %> trips driven</span>
      </div>
    </div>
    
    <div class="flex items-center gap-x-2 w-2/3 <%= @trip.theme[:text_color ]%>">
      <div class="flex flex-col ml-auto">
        <div class="flex items-center gap-x-2">
          <p class="font-bold text-[14px] -mt-0.5"><%= @trip.departs_at %></p>
          <div class="flex items-center">
            <div class="<%= @trip.theme[:itinerary_classes] %>"></div>
            <span class="mx-2"><%= @trip.duration_in_hours %></span>
            <%= inline_svg_tag "#{@trip.theme[:icon]}", class: "#{@trip.theme[:icon_classes]}" %>
            <div class="<%= @trip.theme[:itinerary_classes] %>"></div>
          </div>
        </div>
        <div class="-mt-1.5">
          <span class="text-[15px] font-medium"><%= @trip.route.from_place_slug.capitalize %></span>
        </div>
      </div>
      <div class="-mt-0.5">
        <span class="font-bold text-[14px] block"><%= @trip.arrives_at %></span>
        <span class="text-[15px] font-medium block -mt-1"><%= @trip.route.to_place_slug.capitalize %></span>
      </div>
    </div>
  </div>

  <div class="px-6 pt-5 pb-2 flex items-center gap-x-8 text-[15px] <%= @trip.theme[:icon_text_class]%>">
    <div class="flex items-center gap-x-2">
      <%= inline_svg_tag "car_ultra_compact.svg", class: "w-5 h-5 stroke-2 #{@trip.theme[:icon_stroke_class]} block" %>
      <span class=""><%= @trip.vehicle.model %></span>
    </div>
    <% if @trip.women_only? %>
      <div class="flex items-center gap-x-1">
        <%= inline_svg_tag "#{@trip.theme[:women_only_icon]}", class: "w-6 h-6 fill-blue stroke-[2.4] fill-none"%>
        <span class="block">Women Only</span>
      </div>
    <% end %>
    <div class="flex items-center gap-x-1">
      <%= inline_svg_tag "luggage.svg", class: "w-6 h-5 #{@trip.theme[:icon_stroke_class]} stroke-[1.6] fill-none"%>
      <span class="block"><%= @trip.luggage_policy.titleize %> luggage allowed</span>
    </div>
    <p class="ml-auto text-[18px]">3 seats left</p>
  </div>
</div>






    <div class="flex items-center gap-x-3 py-6 border-b border-gray-200">
      <%= image_tag "lock.png", class: "w-8 h-8" %>
      <p class=" text-gray-neutral text-[14px]">
        The driver's contact information and the vehicle's identity will only be shared after booking.
        <span class="ml-1 text-blue decoration-[1.5px] decoration-blue underline underline-offset-2 ">Learn more</span>
      </p>
    </div>

    <h1 class="mt-16 mb-8 font-extrabold text-3xl tracking-tight">What to expect</h1> 
      
    <div class="flex items-start">
      <div class="flex flex-col w-1/2">
        <div class="h-9 mb-3">
          <%= inline_svg_tag "users_v2.svg", class: "w-8 h-8 stroke-gray-400 stroke-[1.5]" %>
        </div>
        <h3 class="font-bold text-xl">4 seats capacity</h3>
        <p class="text-gray-500 text-base mt-2">
          Women only allowed on this trip. Maximum of 3 passengers at the back seat.
        </p>
      </div>

      <div class="flex flex-col w-1/2">
        <div class="h-9 mb-3">
          <%= inline_svg_tag "luggage.svg", class: "w-8 h-8 stroke-gray-400 stroke-[1.5]" %>
        </div>
        <h3 class="font-bold text-xl">Small luggage allowed</h3>
        <p class="text-gray-500 text-base mt-2">
          Up to 20kg of legal goods allowed on this ride.
        </p>
      </div>
    </div>

    <div class="flex items-start mt-12">
      <div class="flex flex-col w-1/2">
        <div class="h-9 mb-3">
          <%= inline_svg_tag "music_note.svg", class: "w-8 h-8 stroke-gray-400 stroke-[1.5]" %>
        </div>
        <h3 class="font-bold text-xl">Music on board</h3>
        <p class="text-gray-500 text-base mt-2">
          Tunes at a comfortable volume - never too loud.
        </p>
      </div>

      <div class="flex flex-col w-1/2">
        <div class="h-9 mb-3">
          <%= inline_svg_tag "chat.svg", class: "w-8 h-8 stroke-gray-400 stroke-[1.5] fill-gray-400]" %>
        </div>
        <h3 class="font-bold text-xl">Friendly conversation</h3>
        <p class="text-gray-500 text-base mt-2">
          The driver is happy to chat during the trip if passengers feel like it.
        </p>
      </div>
    </div>


    <div class="grid grid-cols-2 gap-x-8 py-3">
      <div class="">
        <%= inline_svg_tag "cancel_calendar.svg", class: "w-7 h-7 stroke-gray-400 stroke-[0.4] fill-gray-400" %>
        <h3 class="font-bold text-xl mt-3">Flexible cancellation</h3>
        <p class="text-gray-500 text-base mt-2">
          Cancel up to 3 hours before the journey.
        </p>
      </div>
    </div> 
  </div> 
  <div class="w-3/8">
    <%= form_with url: new_booking_path, method: :get, class: "rounded-xl p-6" do |form| %>
      <h1 class="text-4xl pb-4 text-slate-800 border-b border-gray-200"><b class="tracking-tight">$10.50</b> <span class="text-lg">per seat</span></h1> 

      <div data-controller="dropdown-select" class="mb-4 mt-8">
        <h2 class="text-sm text-gray-neutral mb-2">Select seats</h2>

        <%= form.hidden_field :trip_id, value: @trip.id%>

        <input type="hidden" 
            name="booking[seats]" 
              value="1" 
              data-dropdown-select-target="input">

        <div data-dropdown-select-target="selected"
            data-action="click->dropdown-select#toggle"
            class="flex justify-between items-center border border-white-coffee w-full rounded-lg px-3 py-3.5 cursor-pointer">
          <div class="flex justify-between w-full mr-4">
            <span data-dropdown-select-target="label" class="font-semibold block">1 seat</span>
            <span data-dropdown-select-target="amount" class="text-gray-500 block">$10.50</span>
          </div>

          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.25a.75.75 0 01-1.06 0L5.21 8.27a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
          </svg>
        </div>

        <ul data-dropdown-select-target="options"
            class="hidden z-10 mt-2 w-full border border-white-coffee rounded-lg bg-white shadow">
          <li data-action="click->dropdown-select#select"
              data-value="1"
              data-label="1 seat"
              data-amount="$10.50"
              class="border-b border-white-coffee px-4 py-3 flex justify-between cursor-pointer hover:bg-gray-50">
            <span>1 seat</span>
            <span>$10.50</span>
          </li>

          <li data-action="click->dropdown-select#select"
              data-value="2"
              data-label="2 seats"
              data-amount="$21.00"
              class="px-4 py-3 flex justify-between cursor-pointer hover:bg-gray-50">
            <span>2 seats</span>
            <span>$21.00</span>
          </li>
        </ul>
      </div>
      <div class="border-b border-gray-200 flex items-center gap-x-3 py-4">
        <%= inline_svg_tag "coins.svg", class: "w-6 h-6 stroke-gray-400 stroke-[1.5]"%>
        <div class="">
          <h4 class="text-base font-medium">Reservation fee ($0.50)</h4>
          <p class="text-[14px]  text-black-700">Paid now via Relay to secure your seat.</p>
        </div>
      </div>

      <div class="border-b border-gray-200 flex items-center gap-x-3 py-4">
        <%= inline_svg_tag "cash.svg", class: "w-6 h-6 stroke-gray-400 stroke-[1.5] fill-none"%>
        <div class="">
          <h4 class="text-base font-medium">Trip fare ($10)</h4>
          <p class="text-[14px]  text-black-700">Pay directly to the driver during the trip.</p>
        </div>
      </div>

      <div class="pb-4 mt-12">
        <%= form.submit "Reserve your seat", name: nil, class: "cursor-pointer text-white block mt-6 py-4 px-4 bg-blue rounded-full w-full text-lg font-medium" %>
        <p class="text-sm text-center mt-4">Report this driver</p>
      </div>
    </div>
  <% end %>
</div>
 


