<section class="">
  <h2 class="mt-24 font-extrabold text-5xl tracking-tight">Find your perfect ride</h2>
  <p class="text-black-700 text-xl mt-3">Some people get there. Others arrive.</p>

  <div class="flex flex-col gap-6 mt-12">
    <div class="flex items-start gap-x-16">
      <div class="w-1/3">
        <%= inline_svg_tag "clock.svg", class: "w-7 h-7 stroke-gray-400 stroke-[1.5]" %>
        <h3 class="font-bold text-xl mt-3">Travel on time</h3>
        <p class="text-gray-500 text-base mt-2">Choose rides with clear departure times and plan your journey with confidence.</p>
      </div>

      <div class="w-1/3">
        <%= inline_svg_tag "coins.svg", class: "w-7 h-7 stroke-gray-400 stroke-[1.5] fill-none" %>
        <h3 class="font-bold text-xl mt-3">Your pick of rides at low prices</h3>
        <p class="text-gray-500 text-base mt-2">
          No matter where you’re going, find the perfect ride from our growing network of drivers and routes at low prices.
        </p>
      </div>

      <div class="w-1/3">
        <%= inline_svg_tag "shield_v2.svg", class: "w-7 h-7 stroke-gray-400 stroke-[1.5] fill-none" %>
        <h3 class="font-bold text-xl mt-3">Trust who you travel with</h3>
        <p class="text-gray-500 text-base mt-2">
          We take the time to get to know each of our users. We check profiles, so you can book your ride at ease on our secure platform.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-x-16">
      <div class="w-1/3">
        <%= inline_svg_tag "lady.svg", class: "w-7 h-8 stroke-gray-400 stroke-24 -mt-[2px]" %>
        <h3 class="font-bold text-xl mt-3">Women-only trips </h3>
        <p class="text-gray-500 text-base mt-2">Women drivers. Women passengers. For safety and comfort.</p>
      </div>

      <div class="w-1/3">
        <%= inline_svg_tag "route.svg", class: "w-6 h-6 stroke-gray-400 stroke-[1.5]" %>
        <h3 class="font-bold text-xl mt-3">Popular routes</h3>
        <p class="text-gray-500 text-base mt-2">Choose from routes people travel every day and find a ride going your way.</p>
      </div>

      <div class="w-1/3">
        <%= inline_svg_tag "music_note.svg", class: "w-6 h-6 stroke-gray-400 stroke-[1.5]" %>
        <h3 class="font-bold text-xl mt-3">Quiet rides</h3>
        <p class="text-gray-500 text-base mt-2">Select rides with low music and a relaxed atmosphere.</p>
      </div>
    </div>    
  </div>
</section>
