<section data-controller="popover location-filters" 
         data-action="click@document->popover#outsideClick location-filters:place-selected->popover#closeAllPopovers"
         data-location-filters-routes-graph-value="<%= @routes_graph %>" 
         class="mt-24">
  <%= render "hero" %>
  <%= render "filters" %>
  <%= render "for_drivers_for_passengers" %>
  <%= render "ride_features" %>
  <%= render "destinations" %>
  <%= render "faqs" %>
  <%= render "footer" %>
</section>  
