<section data-controller="popover location-filters" 
         data-action="click@document->popover#outsideClick location-filters:place-selected->popover#closeAllPopovers"
         data-location-filters-routes-graph-value="<%= @routes_graph %>" 
        class="mt-16">

<div class="flex items-start gap-x-28">
  <%= form_with url: routes_path, method: :get do |form| %>
    <div class="flex flex-col gap-y-1 mt-12 font-extrabold text-6xl tracking-tight mb-8">
      <h1>Share a ride or book</h1>
      <h1 class="mt-1">a bus with <span class="tracking-tighter">Relay.</span></h1>
    </div>

    <div class="flex items-center">
      <div class="flex py-4">
        <div data-popover-id-param="leaving-from-popover" data-action="click->popover#open" data-popover-offset-param="12" class="floating-input-container w-72">
          <div class="floating-input-wrapper bg-sheet border border-gray-300 rounded-l-full border-r-0">
            <%= form.text_field :from, 
                data: { 
                  location_filters_target: "leavingFromInput",
                  action: "focus->location-filters#leavingFromFocus input->location-filters#searchFrom"
                },
                class: "floating-input bg-sheet",
                placeholder: " " %>
            <label class="floating-label">Leaving from</label>
          </div>
        </div>

        <div data-popover-id-param="going-to-popover" data-action="click->popover#open" data-popover-offset-param="8" class="floating-input-container w-72">
          <div class="floating-input-wrapper bg-sheet w-2/5 border border-gray-300">
          <%= form.text_field :to,
              data: {
                location_filters_target: "goingToInput",
                action: "focus->location-filters#goingToFocus input->location-filters#searchTo"
              },
              class: "floating-input",
              placeholder: " " %>
            <label class="floating-label with-violet-blue">Going to</label>
          </div>
        </div>

        <div data-popover-id-param="date-popover" data-action="click->popover#open" data-popover-offset-param="8" class="floating-input-container w-48 border border-gray-300 border-l-0 bg-sheet">
          <div class="ml-4">
            <label class="block text-sm">Date</label>
            <span class="block font-medium text-lg">Today</span>
          <%= form.hidden_field :date,
              data: {
                location_filters_target: "dateInput",
                action: "focus->location-filters#goingToFocus input->location-filters#searchTo"
              },
              class: "" %>
          </div>
        </div>

        <div data-popover-id-param="date-popover" data-action="click->popover#open" data-popover-offset-param="8" class="floating-input-container w-48 border border-gray-300 border-l-0 border-r-0 bg-sheet">
          <div class="ml-4">
            <label class="block text-sm">Passengers</label>
            <span class="block font-medium text-lg">1 Passenger</span>
            <%= form.hidden_field :passengers,
                data: {
                  location_filters_target: "dateInput",
                  action: "focus->location-filters#goingToFocus input->location-filters#searchTo"
                },
                class: "" %>
          </div>
        </div>
        <div class="bg-sheet w-fit border border-gray-200 border-l-0 rounded-r-full pr-1 flex items-center">

        <%= button_tag type: :submit, class: "cursor-pointer bg-slate-900 rounded-full p-5 block" do %>
          <%= inline_svg_tag "search.svg" %>
        <% end %>
        </div>
      </div>

      <div class="w-10 h-10 -ml-16 z-1 hidden items-center justify-center border border-gray-300 rounded-full bg-white">
        <%= inline_svg_tag "swap_arrow.svg", class: "w-6 stroke-black stroke-2 block mx-auto" %>
      </div>
    </div> 


    <div id="leaving-from-popover" data-popover-target="popover" class="hidden tooltip bg-white border border-gray-200 rounded-xl shadow-sm p-4">
      <h2 data-location-filters-target="leavingFromHint" class="px-5 pt-4 pb-6 uppercase font-medium text-[13px] text-slate-600 tracking-wide"></h2>
      <div class="search-results divide-y divide-gray-200 grid grid-cols-2 gap-3 gap-x-12"></div>
    </div> 


    <div id="going-to-popover" data-popover-target="popover" class="hidden tooltip bg-white border border-gray-200 rounded-2xl shadow-sm">
      <h2 data-location-filters-target="goingToHint" class="px-5 pt-4 pb-2 font-medium text-[14px] text-black-600"></h2>
      <div class="search-results divide-y divide-gray-200"></div>
    </div> 
  <% end %>

  <div class="w-1/2 hidden items-center gap-x-3">
    <%= image_tag "covers/troy-wade.jpg", class: "rounded-2xl w-1/2 border-6 border-amaranth/10" %>
    <%= image_tag "covers/humphery.jpg", class: "rounded-2xl w-1/2 border-6 border-violet-blue/10" %>
  </div>
</div>
  

  <section class="mb-28">
    <h1 class="mt-32 font-extrabold text-4xl tracking-tight">How are you travelling today?</h1>

    <div class="mt-6 mx-auto flex items-center gap-x-64">
      
      <div class="w-1/3 p-2 py-8 pl-0 border-b border-gray-200 rounded-sm">
        <div class="flex items-start gap-x-3 ">
          <div class="">
            <h2 class="text-xl font-extrabold mb-2">By Bus or Mini-Bus</h2>
            <p class="text-black-700 leading-5 text-[15px] tracking-wide">
              Book tickets for scheduled buses with great amenities, and sometimes food.
            </p>
          </div>
          <%= inline_svg_tag "bus.svg", class: "w-84" %>
        </div>

        <div class="flex items-center gap-x-2 w-fit">
          <button class="border border-gray-300 py-3 px-12 rounded-md font-medium">Book a seat</button>
        </div>
      </div>

      <div class="flex flex-col gap-y-6 w-1/3 p-3 py-6 border-b border-gray-200 rounded-sm">
        <div class="flex items-start gap-x-6">
          <%= inline_svg_tag "car.svg", class: "w-96" %>

          <div class="">
            <h2 class="text-xl font-extrabold mb-2">By Ridesharing</h2>
            <p class="text-black-700 leading-5 text-[15px] tracking-wide">
              Sharing a ride is a great way to travel long distances. Save on toll gate fees and fuel costs.
            </p>
          </div>
        </div>
 
       <div class="flex items-center gap-x-2 w-fit mx-auto">
          <button class="border border-gray-300 py-3 px-12 rounded-md font-medium">Post a trip</button>
          <button class="border border-gray-300 py-3 px-12 rounded-md font-medium">Book a seat</button>
        </div>
      </div>    
    </div>
  </section>








<div data-controller="datepicker" data-popover-target="filtersContainer" class="mt-6 relative hidden rounded-full bg-sheet border border-gray-300 shadow-lg shadow-gray-200">
  <div class="w-2/8 border-r border-gray-200 flex items-center">

  <div class="ml-8 floating-input-container">
    <input
      type="email"
      id="from_city"
      name="email_address"
      required
      placeholder="Leaving from"
      class="floating-input"
    />

    <label
      for="email_address"
      class="floating-label text-lg text-gray-600"
    >
      Leaving from
    </label>
  </div>

  </div>

  <div class="floating-container w-2/8 border-r border-gray-200 flex items-center">
    <div class="ml-4 floating-input-container">
    <input
      type="em"
      id="from_city"
      name="email_add"
      required
      placeholder="Going to"
      class="floating-input"
    />

    <label
      for="email_add"
      class="floating-label text-lg text-gray-600"
    >
      Going to
    </label>
    </div>

  </div>

  <div data-popover-id-param="date-popover" data-action="click->popover#open" class="w-1/8 border-r border-gray-200 flex flex-col justify-center pl-4 cursor-pointer">
    <p class="text-sm text-gray-600">Date</p>
    <p class="text-xl font-medium tracking-wide">Today</p>
  </div>

  <div data-popover-target="trigger" data-popover-id-param="passengers-popover" data-action="click->popover#open" data-popover-id-param="passengers-popover" class="w-1/8 border-r border-gray-200 flex flex-col justify-center pl-4 cursor-pointer">
    <p class="text-sm text-gray-600">Passengers</p>
    <p class="text-xl font-medium tracking-wide">1 passenger</p>
  </div>

  <div class="w-1/8 flex items-center justify-center p-1">
    <div class="w-20 h-20 rounded-full bg-black flex items-center justify-center ml-auto">
      <%= inline_svg_tag "search.svg", class: "w-8 h-8 text-white" %>
    </div>
  </div>

  <div id="date-popover" class="hidden tooltip">
    <div class="border border-gray-300 shadow-lg shadow-gray-300 px-6 pb-4 rounded-lg bg-white ">
      <input name="date" type="text" data-datepicker-target="datepicker" class="w-0 h-0 opacity-0 pointer-events-none"/>
    </div>
  </div>


 <div id="passengers-popover" class="hidden tooltip">
    <div class="flex items-center">
      <div class="flex items-start gap-x-16 border border-gray-300 shadow-lg shadow-gray-300 py-4 px-6 rounded-lg bg-white">
        <div class="flex items-start gap-x-32">
          <div>
            <h1 class="text-[12px] uppercase tracking-wide text-gray-600">Passengers</h1>
            
            
          <div class="flex items-center gap-x-12 mt-6">
            <div class="">
              <h2 class="text-[16px] tracking-wide text-charcoal-blue">People</h2>
              <p class="text-gray-500 text-xs tracking-wide">At least one adult</p>
            </div>

            <div class="flex items-center gap-x-4">
              <div class="h-8 w-8 rounded-full border border-gray-500 flex items-center justify-center">
                <%= inline_svg_tag "minus.svg", class: "block" %>
              </div>

              <span class="block">1</span>

              <div class="h-8 w-8 rounded-full border border-gray-500 flex items-center justify-center">
                <%= inline_svg_tag "plus.svg", class: "block" %>
              </div>
            </div>
          </div>
        </div>

        <div class="w-64">
          <h1 class="text-[12px] uppercase tracking-wide text-gray-600">Requirements</h1>

          <div class="flex flex-col gap-y-6 mt-6">
            <div class="flex items-center justify-between">
              <h2 class="text-[16px] tracking-wide text-charcoal-blue">Luggage (20kg or less)</h2>
              <input type="radio" name="set_as_cover" value="" class="toggle-switch">
            </div>
            <div class="flex items-center justify-between">
              <h2 class="text-[16px] tracking-wide text-charcoal-blue">Women Only</h2>
              <input type="radio" name="set_as_cover_1" value="" class="toggle-switch">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
    
</div>


  </div>



</section>


<template id="place">
  <div data-location-filters-place-id-param="" data-action="click->location-filters#select" class="flex items-center gap-x-3 px-5 py-2 pr-12 cursor-pointer">
    <div class="flex flex-col justify-between text-lg">
      <p data-name></p>
      <div class="flex items-center gap-x-1 text-sm tracking-wide text-[#4f5e6a]">
        <p data-type class=""></p>
        <span class="h-0.5 w-0.5 rounded-full"></span>
        <p data-province class=""></p>
        <p class="">Zimbabwe</p>
      </div>
    </div>
  </div>
</template>
