<%= turbo_frame_tag "modal", data: { turbo_action: :advance } do %>
  <%= form_with model: @trip, url: wizard_path, method: :patch, class: "flex flex-col min-h-[90vh] mx-auto w-3/8 my-8 bg-[rgb(247,247,247)] rounded-4xl border border-gray-100 shadow-xxl px-2" do |form| %>
    
      <div class="w-full flex flex-col justify-between flex-1 border bg-white shadow-lg border-gray-200 rounded-3xl my-2">
        <div>
          <div class="flex items-center justify-between p-6 border-b mb-12 border-gray-200">
            <h1 class="font-bold text-xl">Create trip</h1>

            <div class="flex items-center gap-x-3">
              <h2 class="font-medium text-[12px] text-gray-600 tracking-wide"><%= step.to_s.humanize %></h2>
              <%= render "shared/form_progress" %>
            </div>  
          </div>

        <div class="px-6">
          <div>
            <div class="mb-8">
              <h1 class="text-xl font-extrabold mb-1">Where are you going to?</h1>
              <p class="text-gray-600 text-base">Tell us your destination. These are the cities you can travel to from <%= Route.find_by(from_place_id: @trip.from_place_id).from_place_slug.capitalize %>.</p>
            </div>  

            <div class="grid grid-cols-3 gap-3 items-center">
              <%= form.collection_radio_buttons :to_place_id, Route.from_place(@trip.from_place_id).pluck(:to_place_id), :to_s, :to_s do |b| %>
                <label class="cursor-pointer block">
                  <%= b.radio_button(class: "peer sr-only") %>

                  <div class="flex items-center gap-x-3 border border-white-coffee px-6 py-3 rounded-full peer-checked:border-slate-500 peer-checked:border-2">
                    <span class="block font-medium text-gray-500 tracking-wide text-base">
                      <%= Place.find(b.value).name %>
                    </span>
                  </div>
                </label>
              <% end %>
            </div>
          </div>
        </div>  
      </div>
 
      <div class="border-t border-gray-200 flex items-center justify-between py-4 px-6">
        <%= link_to "Previous", previous_wizard_path, class: "font-bold text-lg border border-gray-300 px-4 py-2 rounded-md", data: { action: "click->modal#close", modal_id: "turbo-modal" } %>
        <%= form.submit "Next", class: "bg-blue px-6 py-2.5 rounded-md text-white text-lg font-bold block cursor-pointer" %>
      </div>
    </div> 
  <% end %>
<% end %>
