<nav class="border-b border-gray-300 py-1 px-12">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto">
    <%= link_to root_path class: "block" do %>
      <span class="text-[40px] tracking-tighter font-bold text-amaranth">Relay.</span>
    <% end %>

    <ul class="flex items-center gap-x-6 text-lg">
      <li><%= link_to "For Drivers", "", class: "block rounded-sm" %></li>
      <li><%= link_to "For Passengers", "", class: "block rounded-sm" %></li>
      <li><%= link_to "Log in", "", class: "block rounded-sm" %></li>
      <li><%= link_to "Sign up", "", class: "block rounded-sm" %></li>
      <li>
       <button class="bg-violet-blue text-white text-xl font-medium px-8 py-3 rounded-full">
          Book a seat
        </button>
      </li>
    </ul>
  </div>
</nav>
